body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: lavender;
  color: purple;
  font-family: "Press Start 2P", Courier, cursive;
}

#mainContent {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#controlPanel {
  border: 1px solid black;
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: white;
  border-radius: 5px;
  border: 2px purple solid;
  width: 200px;
  padding: 10px 0px;
  font-family: "Press Start 2P", Courier, cursive;
}

.btn:hover {
  background: rgb(198, 195, 195);
}

#gridContainer {
  display: grid;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  padding: 0;
}

.square {
  background-color: white;
  padding: 0;
  margin: 0;
}

.filled {
  background: purple;
}
