/* GENERAL -------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  text-align: center;
  align-items: center;
  background-image: url("https://j-elkins.github.io/etch-a-sketch/background.jpg"),
    linear-gradient(rgb(80, 0, 138), rgb(172, 40, 179));
  background-color: purple;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-family: "Press Start 2P", Courier, cursive;
  margin: 20px 0;
}

h1 {
  text-shadow: 0 0 20px white, 0 0 10px white;
}

#mainContent {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

/* CONTROL PANEL -------------------------------- */
#controlPanel {
  width: 250px;
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(auto, 100px);
  gap: 5px;
  justify-content: center;
  align-content: center;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 2px black solid;
  height: 70px;
  padding: 10px 0px;
  font-family: "Press Start 2P", Courier, cursive;
}

.btn:hover {
  border: 2px solid red;
}

.btn:active {
  border: 2px solid red;
  transform: 2s;
}

#refreshPageBtn,
#resizeGridBtn {
  grid-column: 1 / 4;
}

#toggleRainbowBtn {
  background-image: url("http://www.clker.com/cliparts/i/g/L/P/4/3/rainbow-square-md.png");
  background-size: 100%;
  background-color: rgb(146, 44, 249);
  padding: 0;
}

/* FORM -------------------------------------- */
#form {
  display: flex;
  font-size: 12px;
  width: 200px;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}

.form input {
  font-size: 14px;
  width: 50px;
  background-color: black;
  color: white;
  font-family: Courier, cursive;
  border-radius: 8px;
}

#height {
  grid-column: 1 / 2;
}

#width {
  grid-column: 2 / 3;
}

/* GRID AREA ---------------------------------- */
#gridContainer {
  display: grid;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  padding: 0;
  background-color: black;
  box-shadow: 0 0 30px white, 0 0 10px white;
}

.square {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}

/* FOOTER ---------------------------------- */
footer {
  font-size: 10px;
  /* background-color: black; */
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 40px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
